// Load all fonts
@import url('https://fonts.googleapis.com/css?family=Roboto|Tinos');

// Define background and foreground colors
$background: #222;
$foreground: #F8F8F2;
$font: "Roboto";

// Colors the messages' corners
$lisaCorner: #1AD6FD;
$userCorner: #DBDDDE;

// The <body>'s style
body {
  // Take the entire web page
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  // Style the page's background
  background-color: $background;
  // Hide the eventual scroll bar due to the right corner's overflow
  overflow-x: hidden;
}

// The discussion area's style
#discuss {
  // Place it with an absolute positionning
  position: absolute;
  top: 3%;
  left: 10%;
  right: 10%;
  bottom: 3%;
  // Style the discussion area
  color: $foreground;
  font-family: $font;
  // Increase the font's size
  font-size: 16px;
  // Put a border and a padding within
  border: 1px solid lightgray;
  // If needed, display a scroll bar
  overflow-y: scroll;
  // Put a padding...
  padding: 50px;
  // Excepted in the top line
  padding-top: 0;
}

// Style all messages
.message {
  padding: 15px 20px;
  border-radius: 15px 15px 15px 15px;
  width: 50%;
  position: relative;
  // Put a veritcal spacing between each message
  // (In the first message that'll do an equivalent of padding-top)
  margin-top: 10px;
  // Fade in the message
  animation: spone 1.5s 1;
}

// Keyframe for fading
@keyframes spone {
  from {
    opacity: 0;
    margin-left: -20px;
  }

  to {
    opacity: 1;
    margin-left: 0;
  }
}

// Messages' corner
.message:before {
  border-color: $userCorner;
  border-radius: 50% 50% 50% 50%;
  border-style: solid;
  border-width: 0 20px;
  bottom: 0;
  clip: rect(20px, 35px, 42px, 0px);
  content: " ";
  height: 40px;
  position: absolute;
  right: -50px;
  width: 30px;
  z-index: 2;
}

// Lisa's messages
.message-lisa {
  background: linear-gradient(to right, $lisaCorner, #1D62F0);
  color: white;
}

// + Corner
.message-lisa:before {
  border-color: $lisaCorner;
  left: -50px;
  transform: rotateY(180deg);
}

// User's messages
.message-user {
  background: linear-gradient(to right, #898C90, $userCorner);
  color: white;
  width: 50%;
  left: calc(50% - 50px);
  padding-left: 15px;
}
